<div class="form-group {{classes.wrapper}}">
	<button
		class="{{classes.control}}"
		type="{{type}}"
		{{#name}}name="{{name}}"{{/name}}
		{{#value}}value="{{value}}"{{/value}}
	>
		{{label}} {{#icon}}<i class="{{icon.class}}"></i>{{/icon}}
	</button>
</div> <!--end form-group-->