<div class="form-group {{classes.wrapper}}">
	<div class="form-check form-switch form-switch-success">
		<input
			class="form-check-input {{classes.control}}"
			type="checkbox"
			id="{{id}}"
			name="{{name}}"
		/>
		<label class="form-check-label" for="{{id}}">{{label}}</label>
	</div>
</div><!--end form-group-->